*.json
Downloads/
Documents/
*Projects*
etc/
go/
dmenu/
dotfiles/
electron/
floobits/
Arduino
Calibre Library/
Desktop/
Dropbox/
Git/
Music/
Pictures/
WebStorm*/
.*
Skripte/
hubbig*
bin/
*.py
Virtual*
clion*
idea*
Android/
pycharm*
